/* General Layout */
.dontMissContainer {
  margin-bottom: 3rem;
  margin: auto;
  padding: 2.5rem 0.8rem;
  background-color: #fff;
}
.dontMissTitle {
  color: #000;
  padding: 1rem 0 0.75rem;
  font-style: italic;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}
.dontMissContentWrapper {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}

.leftColumnWrapper {
  width: 60%;
}

.rightColumnWrapper {
  width: 40%;
}

/* Columns */
.leftColumn,
.rightColumn {
  height: max-content;
  flex: 1;
  padding: 0 1.25rem;
}
.leftColumn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}
.divider {
  border: 1px solid black;
}
.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

/* Article Component */
.article {
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid black;
  transition: box-shadow 0.3s;
}
.article:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.articleImage {
  height: 7rem;
}
.articleImageLg {
  height: 13rem;
}
.articleImageWrapper {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.articleTitle a {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #000;
  transition: color 0.2s;
}
.articleTitle:hover {
  color: #f87171;
}
.articleContent {
  padding: 1.25rem;
  text-align: center;
}
.articleCategoryAuthor {
  display: flex;
  justify-content: center;
  align-items: center;
}
.categoryLink {
  color: #f87171;
  font-weight: 600;
  text-decoration: none;
}
.categoryLink:hover {
  color: #f43f5e;
}
.authorLink {
  color: #374151;
  font-weight: 600;
  text-decoration: none;
}
.authorLink:hover {
  color: #111827;
}
.separator {
  margin: 0 0.5rem;
  color: #000;
}

/* BlogPost Component */
.blogPost {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid black;
}
.blogPostImageWrapper {
  position: relative;
  width: 45%;
  height: 10rem;
}
.blogPostImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.blogPostContent {
  width: 55%;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.blogPostTitle a {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  color: #000;
  transition: color 0.2s;
}
.blogPostTitle:hover {
  color: #f87171;
}
.blogPostCategoryDate {
  color: #6b7280;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blogPostCategoryLink {
  color: #f87171;
  font-weight: 600;
  text-decoration: none;
}
.blogPostCategoryLink:hover {
  color: #f43f5e;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  .dontMissContentWrapper {
    gap: 0.5rem;
  }
  .articleImageLg,
  .blogPostImageWrapper {
    height: 8rem;
  }
  .articleContent,
  .blogPostContent {
    padding: 0.5rem;
  }
  .articleTitle a,
  .blogPostTitle a {
    font-size: 1.5vw;
    line-height: 1;
  }
  .articleCategoryAuthor,
  .blogPostCategoryDate {
    flex-wrap: wrap;
  }
  .categoryLink,
  .authorLink,
  .blogPostCategoryLink,
  .blogPostDate {
    font-size: 1.2vw;
  }
  .separator {
    margin: 0 0.3vw;
  }
}

@media screen and (max-width: 768px) {
  .dontMissContentWrapper {
    flex-direction: column;
    gap: 1.5rem;
  }
  .leftColumnWrapper, .rightColumnWrapper {
    width: 100%;
  }
  .leftColumn,
  .rightColumn {
    flex: none;
    width: 100%;
  }

  .articleImageLg,
  .blogPostImageWrapper {
    height: 20vw;
  }
  .articleTitle, .blogPostTitle {
    line-height: 1.2;
  }
  .articleTitle a,
  .blogPostTitle a {
    font-size: 2.5vw;
  }
  .articleCategoryAuthor {
    flex-wrap: wrap;
    justify-content: center;
  }
  .blogPostCategoryDate {
    flex-wrap: wrap;
    justify-content: start;
  }
  .categoryLink,
  .authorLink,
  .blogPostCategoryLink,
  .blogPostDate {
    font-size: 1.75vw;
  }
  .blogPostContent {
    justify-content: center;
  }
}

@media screen and (max-width: 610px) {
  .dontMissContentWrapper {
    gap: 0.5rem;
  }
  .leftColumn,
  .rightColumn {
    padding: 0;
  }
  .articleImageLg {
    height: 25vw;
  }
  .articleTitle,
  .blogPostTitle {
    line-height: 1;
  }
  .articleTitle a,
  .blogPostTitle a {
    font-size: 3.3vw;
  }
  .categoryLink,
  .authorLink,
  .blogPostCategoryLink,
  .blogPostDate {
    font-size: 3vw;
    line-height: 1;
  }
  .blogPostImageWrapper {
    height: 30vw;
  }
  .blogPostContent {
    padding: 0 0.5rem;
    gap: 0;
  }
  .dontMissTitle {
    font-size: 2rem;
  }
}
