.menuDrop {
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  width: 100%;
  min-height: 400px;
  border-top: 1.5px solid #555;
  border-bottom-left-radius: 1.5vw;
  border-bottom-right-radius: 1.5vw;
  overflow: hidden;
  padding: 3.3vw 2.2vw;
}

.menuDropContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2vw;
}

.menuDropHeader {
  width: 17.5%;
}

.menuItem {
  width: 100%;
  min-width: 12vw;
  font-size: 0.9vw;
  font-weight: 500;
  padding: 1vw;
  color: #fff;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  border-radius: 0.1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.menuItem:is(:hover, :focus, :active) {
  background-color: #282932;
}

.menuItem:active {
  background-color: #26272d;
}

.menuItem.selected {
  color: #e07525;
}

.bgDarkGray {
  background-color: #26282d;
}
.bgLightGray {
  background-color: #2c2d31;
}

.menuDropContent {
  width: 82.5%;
}

/* AboutCuetPlus Component styling */
.componentContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1vw;
}

.componentContent {
  width: 33%;
}

.componentContentHeading {
  font-family: cursive;
  font-size: 1.5vw;
  letter-spacing: -1px;
  line-height: 1.1;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 0.8rem;
}

.componentContentHeading span {
  color: #e07525;
}

.componentContentDesc {
  font-size: 0.8vw;
  text-align: justify;
  margin-bottom: 0.4rem;
}

.aboutCuetPlusLink {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: 0.8rem;
}

.aboutCuetPlusLink a svg {
  font-size: 2.5vw;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 255, 255, 0.4);
  transition: all 0.3s ease-in-out;
}

.aboutCuetPlusLink a svg:is(:hover, :focus, :active) {
  border-color: aqua;
  color: #e07325;
  transform: scale(1.2);
}

.componentContentBlogs {
  width: 65%;
  height: 18vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1vw;
  overflow: hidden;
}

.componentContentBlogs .col:first-child {
  border-right: 1px solid #555;
  border-left: 1px solid #555;
  padding-left: 1vw;
  padding-right: 0.5vw;
}

.componentContentBlogHeading {
  font-size: 1.3vw;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.componentContentBlog {
  max-height: 15vw;
  overflow-y: auto;
  display: flex;
}

.componentContentButton {
  padding: 0.5vw 1.5vw;
  font-size: 0.9vw;
  font-weight: 500;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #08272b;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
}

.componentContentButton:hover {
  background-color: #e07525;
  transform: scale(0.9);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menuDrop {
    min-height: 25vw;
  }
}
