.cuetExam {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw 0;
  }
  
  .cuetContainer {
    width: 72%;
    max-width: 75%;
  }
  
  .cuetHeading {
    width: 100%;
  }
  
  .cuetHeading .cuetHeadingText {
    font-size: 3.3vw;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.5vw;
  }
  
  .cuetButton {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1vw;
  }
  
  .cuetButton li {
    width: 23.9%;
    text-align: center;
    padding: 1vw 3.3vw;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btnUncolored {
    border: 2.5px solid #444;
    background-color: #092225;
  }
  
  .btnColored {
    border: 1px solid #03ae65;
    background: linear-gradient(
      90deg,
      rgba(3, 174, 101, 1) 0%,
      rgba(3, 104, 141, 1) 56%
    );
  }
  
  .cuetContentContainer {
    background-color: #092225;
    width: 100%;
    margin-top: 2vw;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
  
  .cuetContent {
    max-width: 100%;
    transition: transform 1s ease;
    z-index: 2;
  }
  
  .leftToRight {
    transform: translateX(100%);
    animation: slide-in-left 1s forwards;
  }
  
  .rightToLeft {
    transform: translateX(-100%);
    animation: slide-in-right 1s forwards;
  }
  
  @keyframes slide-in-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slide-in-right {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  
  /* Media Queries for Responsive Design */
  @media (max-width: 1024px) {
    .cuetButton li {
      padding: 1vw 0vw;
    }
  }
  @media (max-width: 768px) {
    .cuetContainer {
      width: 90%;
    }
  
    .cuetHeading .cuetHeadingText {
      font-size: 4.5vw;
    }
  
    .cuetButton li {
      width: 49%;
      padding: 1vw 0vw;
    }
  }
  
  @media (max-width: 480px) {
    .cuetExam {
      display: none;
    }
  
    .cuetContainer {
      width: 95%;
    }
  }
  