/* FeaturesSection.module.css */

.fs {
    padding: 4vw 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
  }
  
  .featuresSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 80%;
    overflow: hidden;
  }
  
  .featuresSection > h2 {
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 1.5vw;
  }
  
  /* feature tabs */
  .featureTabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5vw;
    margin-bottom: 1vw;
  }
  
  .tabButton {
    color: #555;
    font-weight: 600;
    font-size: 0.9vw;
    padding: 0.8vw 1.1vw;
    border: none;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
  }
  
  .tabButtonActive {
    background-color: #ffd700;
    color: #000;
    font-weight: 600;
  }
  
  .featureContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5vw;
    width: 100%;
  }
  
  /* Responsive Design */
  @media (max-width: 1024px) {
    .fs {
      padding: 4vw 5%;
    }
  
    .featuresSection > h2 {
      font-size: 2.5vw;
    }
  
    .tabButton {
      font-size: 1.1vw;
      padding: 0.9vw 1.2vw;
    }
  
    .featureContent {
      flex-direction: column;
    }
  }
  
  @media (max-width: 768px) {
    .featuresSection > h2 {
      font-size: 3.3vw;
    }
  
    .tabButton {
      font-size: 1.4vw;
      padding: 1vw 1.5vw;
    }
  
    .featureContent p {
      font-size: 1.5vw;
    }
  }
  
  @media (max-width: 480px) {
    .featuresSection > h2 {
      font-size: 6vw;
      margin-bottom: 5vw;
    }
  
    .tabButton {
      font-size: 2.5vw;
      padding: 1.2vw 1.7vw;
    }
  
    .featureContent p {
      font-size: 3vw;
      margin: 2vw 0;
    }
  
    .featureContent {
      gap: 2vw;
    }
  }
  