.CoursePage {
  padding: 4rem 10% 0vw;
}

.CourseContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem 0;
  padding-bottom: 4vw;
}

.leftSide {
  width: 20%;
  background-color: #09222565;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: sticky;
  top: 8rem;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  margin-top: 15px;
}

.dropdownContainer {
  width: 100%;
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;
}

.dropdownLabel {
  font-size: 0.95rem;
  font-weight: 200;
  padding: 3px 20px;
  border-radius: 2rem;
  background-color: #e07525;
  position: relative;
  z-index: 2;
  left: 1rem;
  bottom: -0.3rem;
}

.dropdownButton {
  width: 100%;
  padding: 15px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #21686c;
  color: #ffffff;
  text-align: left;
  border: none;
  border-radius: 8px;
  outline: none;
  transition: background-color 0.3s ease;
}

.dropdownButton:hover {
  background-color: #195457;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #113234;
  border: 1px solid #888;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.dropdownMenu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /* background-color: #f5f5f5; */
  border-radius: 20px;
}

.dropdownMenu::-webkit-scrollbar {
  width: 10px;
  /* background-color: #f5f5f5; */
}

.dropdownMenu::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgba(0, 255, 255, 0.4)),
    color-stop(0.72, rgba(0, 255, 255, 0.5)),
    color-stop(0.86, rgba(0, 255, 255, 0.6))
  );
}

.dropdownItem {
  font-size: 0.7rem;
  padding: 8px 20px;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.dropdownItem:hover {
  background-color: #032628;
}

.rightSide {
  width: 78%;
}

.CourseHeadingTitle {
  padding: 0rem 1.2rem;
}

.CourseHeading {
  font-size: 3vw;
  font-weight: 500;
  padding: 1.5rem 0 1rem;
  text-align: left;
  position: sticky;
  top: 4rem;
  z-index: 99;
  background-color: #082319;
}
.CourseHeading::after {
  content: "";
  background-image: url(../../../../assets/backImgBody.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.CourseDescription {
  /* width: 80%; */
  font-size: 1rem;
  text-align: left;
  line-height: 1.5;
  padding: 0.5rem 0;
  /* position: relative; */
  /* left: 50%;
    transform: translateX(-50%); */
}

.MobileHead {
  display: none;
}

@media screen and (max-width: 1024px) {
  .MobileHead {
    display: block;
  }
  .DesktopHead {
    display: none;
  }
  .CourseHeading {
    top: 2rem;
    font-size: 3.2rem;
  }
  .CourseContainer {
    flex-direction: column;
    gap: 2rem;
  }
  .leftSide {
    width: 100%;
    position: static;
  }
  .rightSide {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .CoursePage {
    padding: 2rem 0%;
  }

  .CourseHeading {
    top: 2rem;
    font-size: 2.3rem;
  }
  .CourseDescription {
    font-size: 3.3vw;
    font-weight: 300;
    text-align: justify;
  }
  .CourseContainer {
    padding-bottom: 3vw;
    gap: 0.5rem;
  }
  .leftSide {
    width: 100% !important;
    position: static;
    padding: 18px 6% 22px;
    gap: 1vw;
  }
  .dropdownButton {
    padding: 10px 15px;
  }
  .rightSide {
    width: 100% !important;
    margin-top: 1rem;
  }
}

.formOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  padding-top: 4rem;
  cursor: pointer;
}

.formContent {
  /* background: #fff; */
  padding: 2rem;
  border-radius: 8px;
  max-width: 700px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 45px;
  right: 45px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  z-index: 999999999;
}

.closeBtn:hover {
  color: #ff0000; /* Optional hover color */
}

.ModelPopUp {
  padding: 2rem;
  background-color: #092225;
  border-radius: 1rem;
}

.ModelPopUpTitle {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.checkboxContainer {
  background-color: #12484b;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 0.5rem;
  transition: all 0.3s ease;
  color: #dadada;
  cursor: pointer;
}

.checkboxContainer:hover {
  color: #fff;
  background-color: #0a2e30;
  cursor: pointer;
  transform: scale(0.95);
}

.checkboxBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-size: 1rem;
}

.checkboxBtn h4 {
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.checkboxDesc {
  font-size: 0.75rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .formContent {
    padding: 0;
  }
  .closeBtn {
    top: 15px;
    right: 15px;
  }
  .ModelPopUp {
    padding: 1.5rem;
  }
  .ModelPopUpTitle {
    font-size: 5.2vw;
  }
  .checkboxContainer {
    padding: 0.5rem;
  }
  .checkboxBtn h4 {
    font-size: 4vw;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }
  .checkboxDesc {
    font-size: 3vw;
  }
}

@media screen and (max-width: 320px) {
  .ModelPopUp {
    padding: 1rem;
  }
  .closeBtn {
    top: 8px;
    right: 8px;
  }
}
