.formDemo {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 4vw auto;
}

.formDemo input {
    height: 50px;
    margin-top: 20px;
    padding: 1vw;
}

.buttonDemo {
    width: 200px;
    background: #000;
    color: #fff;
    outline: none;
    border: none;
}