.MobileSidebar-sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 80%;
  max-width: 300px;
  background-color: #000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  overflow-y: auto;
  transition: left 0.3s ease-in-out;
  padding-bottom: 7em;
  padding-top: 5em;
}

.MobileSidebar-sidebar.activeSlide {
  left: 0;
}

.logoMob {
  width: 2.5rem;
}

.MobileSidebar-sidebar-btn {
  background: #000;
  width: 100%;
  max-width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  position: absolute;
  top: 0;
  z-index: 9999999;
}

.MobileSidebar-sidebar-btn svg {
  font-size: 1.5rem;
}

.MobileSidebar-sidebar-item {
  padding: 0em 1.5em 0.2em;
  display: block;
  font-size: 0.9rem;
  border-radius: 5px;
  /* padding: 1rem; */
  transition: background-color 0.15s, all 0.3s ease;
}

.MobileSidebar-sidebar-item:is(:hover, :focus, :active) {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.MobileSidebar-sidebar-title {
  padding: 0.75em 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.MobileSidebar-sidebar-title:is(:hover, :focus, :active) {
  background-color: #e07525;
}

.MobileSidebar-sidebar-title svg {
  font-size: 4vw;
}

.MobileSidebar-plain {
  padding: 0.6em 1.5em 0.6em 3em;
}

.MobileSidebar-sidebar-title span i,
.MobileSidebar-sidebar-item.plain i {
  display: inline-block;
  width: 1.5em;
}

.MobileSidebar-sidebar-title .toggle-btn {
  transition: transform 0.3s;
}

.MobileSidebar-sidebar-item.open > .MobileSidebar-sidebar-title .toggle-btn {
  transform: rotate(180deg);
}

.MobileSidebar-sidebar-content {
  padding-top: 0.25em;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.MobileSidebar-sidebar-item.open > .MobileSidebar-sidebar-content {
  height: auto;
  opacity: 1;
}

.MobileSidebar-sidebar-item.plain {
  color: #fff;
  text-decoration: none;
}

.MobileSidebar-sidebar-item.plain:is(:hover, :focus, :active) {
  text-decoration: underline;
}

.MobileSidebar-sidebar-item.plain i {
  width: 1.7em;
}


.MobileSidebar-plain:is(:hover, :focus, :active) {
  transform: scale(0.9);
}


@media screen and (max-width: 330px) {
  .MobileSidebar-sidebar-btn {
    max-width: 225px !important;
  }
}
