.partnerSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    background-color: #082319;
    padding: 3vw 10%;
    margin-top: 3.5rem;
  }
  
  .textSection {
    max-width: 55%;
  }
  
  .textSection .title {
    font-size: 2.7vw;
    font-weight: 600;
    color: #01B163;
    margin-bottom: 20px;
  }

  .textSection .title span {
    color: #e07525;
  }
  
  .textSection .desc {
    font-size: 1vw;
    font-weight: 300;
    color: #f3f3f3;
    text-align: justify;
    margin-bottom: 30px;
  }
  
  .partnerButton,
  .learnMoreButton {
    background-color: #124d51;
    color: #fff;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    border-radius: 0.4rem;
    font-size: 1vw;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    margin: 0.5vw 20px 0.5vw 0;
  }
  
  .partnerButton:hover,
  .learnMoreButton:hover {
    transform: scale(0.95);
    background-color: #e07525;
  }
  
  .imageSection {
    position: relative;
    width: 40%;
    /* height: 37vw; */
  }
  
  .imageSection img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #ffa500;
    object-fit: cover;
  }
  
  @media screen and (max-width: 1024px) {
    .textSection .title {
      font-size: 2.785vw;
    }
    .textSection .desc {
      font-size: 1.3vw;
    }
    .partnerButton {
      margin-right: 1vw;
    }
    .partnerButton,
    .learnMoreButton {
      font-size: 1.1vw;
      padding: 15px 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .partnerSection {
      padding: 10vw 10%;
      flex-direction: column;
      gap: 20px;
    }
    .textSection,
    .imageSection {
      max-width: 100%;
      width: 100%;

    }
    .textSection .desc {
      font-size: 1.5vw;
      margin-bottom: 18px;
    }
    .partnerButton {
      margin-right: 0;
    }
    .partnerButton,
    .learnMoreButton {
      font-size: 1.75vw;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 480px) {
    
    
    .textSection .title {
      font-size: 5vw;
      text-align: center;
    }
    .textSection .desc {
      font-size: 3.3vw;
    }
    .partnerButton,
    .learnMoreButton {
      font-size: 3vw;
    }
  
  }
  