.menuList {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  display: flex;
  align-items: center; /* Center items vertically */
}

.menuItem {
  position: relative; /* Position for dropdown */
  cursor: pointer; /* Pointer cursor for clickable items */
  padding: 1.5rem 0.5rem; /* Padding for menu items */
  height: 100%;
  display: grid;
  place-items: center; /* Center items horizontally */
}

.navLink {
  font-size: 1rem; /* Font size for menu items */
  color: #fff; /* Text color */
  display: flex; /* Flex for alignment */
  align-items: center; /* Center items vertically */
  text-decoration: none; /* Remove underline */
  transition: color 0.2s; /* Smooth background transition */
}

.navLink:hover {
  color: #e07525;
}
.active {
  font-weight: bold; /* Bold text for active items */
}

.dropdownIcon {
  margin-left: auto; /* Push dropdown icon to the right */
  transition: transform 0.2s; /* Smooth icon transition */
}

.activeItemContainer {
  position: absolute; /* Position dropdown content */
  top: 100%; /* Position below the menu item */
  left: 50%; /* Align to the left */
  transform: translateX(-50%); /* Center horizontally */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Shadow for dropdown */
  z-index: 1000; /* High z-index for visibility */
  width: 84vw;
}

@media screen and (max-width: 1270px) {
  .navLink {
    font-size: 0.75rem;
  }
  .menuItem {
    padding: 1.5rem 0.2rem; /* Padding for menu items */
  }
}

@media screen and (max-width: 1000px) {
  .navLink {
    font-size: 1.2vw;
  }
  .menuItem {
    padding: 1.5rem 0.1rem; /* Padding for menu items */
  }
}

@media screen and (min-width: 1920px) {
  .navLink {
    font-size: 1.2vw;
  }
}