.formCenter {
  width: 100%;
  margin-top: 3rem;
  padding: 4rem 10%;
  background-image: url(../../../assets/CounselingBgImg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.formContainerDiv {
  padding: 2.5vw;
  border: 1px solid rgba(0, 223, 197, 0.4);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: #092225;
  transition: all 0.3s ease;
  max-width: 500px;
  min-width: 245px;
  margin: 0 auto;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease;
  z-index: 99;
}

.closeBtn:hover {
  color: #e07525;
}

.formContainerDiv:hover {
  border-color: #00fee0;
  transform: scale(1.02);
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.inputBox {
  position: relative;
  width: 100%;
}

.inputBox input,
.formContainerDiv select {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #124d51;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 0.9em;
  transition: 0.5s;
}

.inputBox input {
  text-transform: capitalize;
}

.inputBox input[type="email"] {
  text-transform: lowercase;
}

.inputBox span {
  position: absolute;
  left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  transition: 0.5s;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span {
  color: #00dfc4;
  transform: translate(10px, -12px);
  font-size: 0.75em;
  background: #124d51;
  padding: 0 5px;
}

.inputBox input:focus,
.inputBox input:valid,
.formContainerDiv select:focus {
  border-color: #00dfc4;
}

/* Radio Buttons */
.inputRadio {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding-right: 5px;
}

.radioBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

.radioBtn h4 {
  font-size: 0.9em;
  font-weight: 400;
  white-space: nowrap;
}

.radioActive {
  color: #00dfc4;
}

/* Dropdown Styles */
.selectOption {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #1d2b3a;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
}

.selectOption option {
  color: rgba(255, 255, 255, 0.8);
}

/* Button Styling */
.formContainerDiv button {
  width: 100%;
  padding: 0.8rem;
  background: #06b9a4;
  color: #063e25;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
}

.formContainerDiv button:hover {
  background: #00dfc4;
  transform: scale(0.98);
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .closeBtn {
    top: 4px;
    right: 4px;
  }
}

@media (max-width: 768px) {
  .formContainerDiv {
    padding: 4vw;
  }

  .inputBox input,
  .formContainerDiv select {
    padding: 8px;
  }

  .inputBox span {
    padding: 5px;
  }

  .contactForm {
    gap: 2.5vw;
  }

  .inputBox input:focus ~ span,
  .inputBox input:valid ~ span {
    transform: translate(10px, -8px);
  }
}

@media (max-width: 480px) {
  .formContainerDiv {
    padding: 5vw;
  }

  .contactForm {
    gap: 4vw;
  }

  .inputBox input,
  .formContainerDiv select {
    font-size: 0.8em;
    padding: 8px;
  }

  .radioBtn h4 {
    font-size: 0.8em;
  }

  .formContainerDiv button {
    font-size: 0.9em;
  }
}
