.HomeScholarShip {
    padding: 4vw 15%;
    background-color: #071a13;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.content {
    width: 50%;
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 1.3;
    position: sticky;
    top: 5rem;
}

.content span {
    color: #e07525;
}

.card {
    width: 50%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    background: #04859c31;
}

.cardHeading {
    font-size: 1.5rem;
}

.desc {
    width: 100%;
    font-size: 0.8rem;
    line-height: 1.2;
    text-align: center;
    margin: 0.1rem 0;
}

.cardTime {
    font-size: 0.8rem;
    font-weight: bold;
    color: #e07525;
}

.button {
    border: none;
    outline: none;
    padding: 0.5rem 2rem;
    background-color: #124d51;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.4rem;
    margin-top: 0.5rem;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    cursor: pointer;
}

.button:is(:hover, :active, :focus) {
    color: #04130d;
    background-color: #e07525;
}


@media screen and (max-width: 1024px) {
    .HomeScholarShip {
        padding: 5vw 8%;
        gap: 2rem;
    }

    .content {
        width: 50%;
        font-size: 3vw;
    }

    .desc {
        width: 85%;
    }

    .card {
        padding: 0.5rem 0;
    }

}

@media screen and (max-width: 768px) {
    .HomeScholarShip {
        padding: 8vw 5%;
    }

    .content {
        width: 55%;
        font-size: 3.1vw;
    }

    .desc {
        width: 90%;
        font-size: 1.8vw;
    }

   

    .cardHeading {
        font-size: 3vw;
        white-space: nowrap;
    }
}

@media screen and (max-width: 480px) {
    .HomeScholarShip {
        padding: 10vw 5%;
        flex-direction: column;
    }

    .content {
        width: 100%;
        font-size: 6vw;
        text-align: center;
        line-height: 1.4;
        position: static;
    }

    .desc {
        width: 100%;
        font-size: 3vw;
        text-align: center;
        margin: 2vw 0;
    }

     .card {
        width: 100%;
    }

    .cardHeading {
        font-size: 4.4vw;
        font-weight: 500;
    }
}