.course-container {
  width: 100%;
  padding: 3vw 10%;
}

.courseHeading {
  font-size: 4.4vw;
  font-weight: 500;
  text-align: center;
}

.courseHeading span {
  color: #e07525;
}

.course-section {
  width: 100%;
  min-height: 30vh;
  border-radius: 1.5vw;
  padding: 0vw 4vw;
  overflow: hidden;
}

.course-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.course-btn-item1 {
  /* width: calc(100% / 3.2); */
  padding: 0.8vw 0;
  color: #fff;
  background: transparent;
  font-size: 4vw;
  font-weight: 600;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.course-btn-item.active {
  color: #e07525;
}

.component-container {
  width: 100%;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.component-container.right {
  animation: slide-right 0.5s ease-in-out forwards;
}

.component-container.left {
  animation: slide-left 0.5s ease-in-out forwards;
}

@keyframes slide-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}



.course-page-btn {
  font-size: 1vw;
  font-weight: 600;
  padding: 0.8vw 2vw;
  text-align: center;
  border-radius: 0.5vw;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  margin-top: 2rem;
  transition: all 0.3s ease-in-out;
  background: rgb(12, 73, 73);
}

.course-page-btn:hover {
  background: #e07525;
  color: rgb(15, 53, 53);
}



/* Responsive Design */
@media (max-width: 1200px) {
  .course-btn-item1 {
    font-size: 4vw;
    padding: 1vw 2vw;
  }
}

@media (max-width: 768px) {
  .course-section {
    padding: 3vw 5vw;
  }

  .course-btn-item1 {
    font-size: 3.8vw;
    padding: 1.5vw 3vw;
  }
}

@media (max-width: 480px) {
  .course-container {
    padding: 8vw 0%;
  }

  .courseHeading {
    font-size: 6vw;
  }

  .course-page-btn {
    font-size: 3.3vw;
    padding: 3vw 8vw;
    border-radius: 10px;
    margin-top: 0.5rem;
  }

  .course-section {
    padding: 0vw 3vw;
    border-radius: 2vw;
  }

}
