.course-cuet-container {
  width: 100%;
}

.card-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5vw;
  padding: 1rem;
}

/* Responsive design */
@media (max-width: 1024px) {
  .card-div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .card-div {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Overlay to cover the entire screen */
.formOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  padding-top: 4rem;
  cursor: pointer;
}

/* Content inside the overlay, centered */
.formContent {
  /* background: #fff; */
  padding: 2rem;
  border-radius: 8px;
  max-width: 700px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

/* Close button styling */
.close-btn {
  position: absolute;
  top: 45px;
  right: 45px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  z-index: 999999999;
}

.close-btn:hover {
  color: #ff0000; /* Optional hover color */
}

/* 
@media screen and (max-width: 1024px) {
  .formContent {
    max-width: 520px;
  }
  .close-btn {
    top: 40px;
    right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .formContent {
    max-width: 450px;
  }
  .close-btn {
    top: 40px;
    right: 40px;
  }
} */

@media screen and (max-width: 480px) {
  .formContent {
    padding: 0;
  }
  .close-btn {
    top: 15px;
    right: 15px;
  }
}

@media screen and (max-width: 320px) {
  .close-btn {
    top: 8px;
    right: 8px;
  }
}