/* FAQ.module.css */
.faq {
    width: 100%;
    padding: 3vw 0%;
  }
  
  .faqContainer {
    max-width: 80vw;
    margin: 0 auto;
    font-family: sans-serif;
  }
  
  .faqContainer h2 {
    font-size: 3.3vw;
    font-weight: 600;
    margin-bottom: 2vw;
    color: #e07525;
    text-align: center;
  }
  
  .faqCol {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .faqList {
    width: 49%;
    flex: 1;
    list-style: none;
    padding: 0;
  }
  
  .faqItem {
    width: 100%;
    margin-bottom: 0.2rem;
  }
  
  .faqQuestion {
    width: 100%;
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 1rem;
    padding: 1rem 1.5rem;
    border: 1px solid rgba(0, 255, 255, 0.174);
    border-radius: 5px;
    background-color: #113b2a;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .faqQuestion:is(:hover, :focus, :active) {
    background-color: rgb(16, 116, 116);
  }
  
  .faqQuestion.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
  }
  
  .faqTitle {
    font-size: 1rem;
  }
  
  .faqIcon {
    font-size: 1.2rem;
  }
  
  .faqAnswer {
    width: 100%;
    color: rgba(127, 255, 212, 0.717);
    font-size: 1rem;
    line-height: 1.3;
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    transition: max-height 0.3s ease, padding 0.3s ease;
  }
  
  .faqAnswer.show {
    max-height: 200px;
    padding-top: 10px;
    border: 1px solid rgba(0, 255, 255, 0.342);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 10px;
  }
  
  .faqAnswer a {
    color: #3697ff;
    text-decoration: none;
  }
  
  .faqAnswer a:is(:hover, :focus, :active) {
    text-decoration: underline;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .faqCol {
      flex-direction: column;
      gap: 0;
    }
  
    .faqList {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .faqContainer {
      max-width: 100%;
    }
  
    .faqContainer h2 {
      font-size: 6vw;
      margin: 0.8rem 0 5vw;
    }
  
    .faqQuestion {
      padding: 0.5rem 1rem;
    }
  
    .faqTitle {
      font-size: 3.8vw;
    }
  
    .faqAnswer {
      font-size: 3vw;
    }
  }
  