#LatestUpdate {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: #0d211a;
  margin-top: 1vw;
}

.latestUpdateTitle {
  font-size: 2vw;
  font-weight: 500;
  margin-bottom: 0.6rem;
}

.latestUpdateContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  border-radius: 2.2rem;
  overflow: hidden;
  padding-right: 0.5rem;
}

.latestUpdateInput {
  border: none;
  outline: none;
  font-size: 1.3vw;
  padding: 1rem 2rem;
  width: 80%;
}

.latestUpdateButton {
  border: none;
  outline: none;
  font-size: 1.3vw;
  padding: 0.6rem 2rem;
  background-color: #e07525;
  color: #0a2224;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.latestUpdateButton:is(:hover, :focus, :active) {
  background-color: #c7631c;
  color: #000;
  transform: scale(0.95);
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .latestUpdateTitle {
    font-size: 4vw;
    margin-bottom: 1rem;
  }

  .latestUpdateContainer {
    width: 67%;
  }

  .latestUpdateInput {
    font-size: 1.6vw;
    padding: 1.2rem;
  }

  .latestUpdateButton {
    font-size: 1.6vw;
    padding: 1rem 1.5rem;
  }
}

@media (max-width: 768px) {
  .latestUpdateTitle {
    font-size: 4.5vw;
    text-align: center;
    margin-top: 0.5vw;
  }

  .latestUpdateContainer {
    width: 75%;
    border-radius: 2.5rem;
  }

  .latestUpdateInput {
    font-size: 2.5vw;
    padding: 1rem 1rem;
    width: 100%;
  }

  .latestUpdateButton {
    font-size: 2.5vw;
    padding: 0.6rem 1.5rem;
  }
}

@media (max-width: 480px) {
  #LatestUpdate {
    width: 100%;
    padding: 2vw 8% 8vw;
  }

  .latestUpdateTitle {
    font-size: 4vw;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 1rem;
  }

  .latestUpdateContainer {
    width: 85%;
    padding-right: 0.25rem;
  }

  .latestUpdateInput {
    font-size: 3.3vw;
    padding: 0.65rem 1rem;
  }

  .latestUpdateButton {
    font-size: 3.3vw;
    padding: 0.45rem 1.5rem;
  }
}
