.ContactForm {
  width: 100%;
  padding: 5vw 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2vw;
  font-weight: 500;
  text-align: center;
  margin-top: 2vw;
}

.form {
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.9rem;
  padding: 2rem;
  border: 1px solid rgba(0, 255, 255, 0.242);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.08);
  transition: all 0.3s ease;
}

.form:hover {
  box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.242);
  border-color: aqua;
  transform: scale(1.05);
}

.inputBox {
  position: relative;
  width: calc(100% / 2 - 0.9rem);
}

.inputBox input {
  width: 100%;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #124d51;
  border-radius: 6px;
  outline: none;
  color: #fff;
  font-size: 1.1em;
  transition: 0.5s;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 0.9rem;
  pointer-events: none;
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  transition: 0.5s;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span {
  color: #00dfc4;
  transform: translate(10px, -7px);
  font-size: 0.65em;
  padding: 0 0.5rem;
  background: #124d51;
}

.inputBox input:focus,
.inputBox input:valid,
.inputBox textarea:focus,
.inputBox textarea:valid {
  border-color: #00dfc4;
}

.inputMessage {
  width: 97.5%;
}

.inputMessage textarea {
  max-width: 100%;
  padding: 0.9rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #062a2e;
  border-radius: 6px;
  outline: none;
  color: #fff;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.3;
  transition: 0.5s;
  min-height: 150px;
}

.inputButton {
  width: 97.5%;
}

.button {
  padding: 0.9rem 1.6rem;
  width: 100%;
  border-radius: 0.4rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  background: #06b9a4;
  color: #063e25;
  color: rgba(255, 255, 255, 0.5);
}

.button:is(:hover, :focus, :active) {
  background: #00dfc4;
  transform: scale(0.98);
}

/* Media Queries */

/* For tablets and smaller laptops (max-width: 1024px) */
@media (max-width: 1024px) {
  .ContactForm {
    padding: 8vw 10%;
  }

  .inputMessage,
  .inputButton {
    width: 97.8%;
  }

  .title {
    font-size: 2.2vw;
  }
}

@media screen and (max-width: 768px) {
  .form {
    max-width: 600px;
  }
  .inputBox input {
    padding: 0.8rem;
  }
  .inputBox span {
    font-size: 1.6vw;
  }
  .button {
    padding: 0.8rem;
    font-size: 1.6vw;
  }
  .title {
    font-size: 2.8vw;
  }
}

@media screen and (max-width: 480px) {
  .ContactForm {
    padding: 8vw 5%;
  }
  .title {
    font-size: 6.5vw;
  }
  .form {
    max-width: 100% !important;
    padding: 0.9rem;
  }
  .inputBox input {
    padding: 0.6rem;
    font-size: 3.3vw;
  }
  .inputBox span {
    font-size: 2.5vw;
    padding: 3.2vw 3vw;
  }
  .button {
    padding: 0.6rem;
    font-size: 3.3vw;
  }
  .inputBox input:focus ~ span,
  .inputBox input:valid ~ span,
  .inputBox textarea:focus ~ span,
  .inputBox textarea:valid ~ span {
    font-size: 1.8vw;
    padding: 0 0.5rem;
    transform: translate(10px, -4px);
  }
  .inputMessage textarea {
    min-height: 100px;
  }
  .inputMessage,
  .inputButton {
    width: 95.5% !important;
  }
}

@media screen and (max-width: 320px) {
  .inputMessage,
  .inputButton {
    width: 94.5% !important;
  }
}
